<!DOCTYPE html>
<html ng-app="zbox-challenge">
	<head>
		<title>Zbox Challenge</title>
	</head>
	<body ng-controller="AppController">
		<div>
			<input 	type="text" 
					ng-model="filtro.text">
			</input>
			<button ng-click="buscarVideos()">Buscar</button>
		</div>
		<div>
			<iframe id="player" 
					type="text/html" 
					width="640" 
					height="390" 
					src="{{video.url}}" 
					frameborder="0"
					allowfullscreen
					ng-show="mostrarReproductor">
			</iframe>
		</div>
		<div>
			<ul>
				<li ng-repeat="video in videos">
					<div 	style="height:90px; width:120px; background-image: url({{video.snippet.thumbnails.default.url}});"
							ng-click="reproducir(video.id.videoId)">
					</div>
					{{ video.snippet.title }}
				</li>
			</ul>
		<div>

		<!-- Controlador angular de la vista -->
		<script>			
			require('./src/app');
		</script>
	</body>
</html>
