<!DOCTYPE html>
<html ng-app="zbox-challenge">
	<head>
		<title>Zbox Challenge</title>		
	</head>
	<body ng-controller="AppController" layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools" layout="row" layout-align="start end">
				<md-input-container flex="50" style="padding-bottom:0px;">
					<input  style="color:#fff;" ng-model="filtro.text"></input>
				</md-input-container>
				<md-button ng-click="buscarVideos()">Buscar</md-button>
			</div>
		</md-toolbar>
		

		<md-content layout="column" flex layout-padding>
			<div layout="row" flex id="player-container">
				<iframe id="player" 
						type="text/html" 
						flex
						height="390" 
						src="{{video.url}}" 
						frameborder="0"
						allowfullscreen
						ng-show="mostrarReproductor">
				</iframe>
			</div>

			<div layout="column" layout-margin>
				<div layout="row" ng-repeat="video in videos" layout-margin layout-align="start center">
					<div flex>
						<div  	ng-click="reproducir(video.id.videoId)"
								style="width: 120px; height:90px; background-size:cover; cursor:pointer; background-image: url({{video.snippet.thumbnails.high.url}});">
						</div>
					</div>

					<div 	layout="column" 
							layout-align="start start" 
							layout-margin 
							flex-gt-md="85"
							flex="70"
							flex-sm="50">
						<h3>{{ video.snippet.title }}</h3>						
						<p hide-sm>{{ video.snippet.description }}</p> 
					</div>
				</div>								

				<div layout="row" layout-align="center start">
					<md-button 	ng-click="siguientePagina()" 
								ng-show="mostrarBotonSiguiente"
								class="md-raised md-primary">
								Cargar m&aacute;s videos ...
					</md-button>
				</div>
			</div>
				
			
		<!-- Controlador angular de la vista -->
		<script>			
			require('./src/app');			 
			var link = document.createElement('link');
			link.setAttribute('rel', 'stylesheet');
			link.setAttribute('href', require('path').join(__dirname, 'node_modules/angular-material', 'angular-material.css'));
			document.head.appendChild(link);
		</script>
		<style>
			md-input-container .md-input {
				border-color : #fff;
			}

			md-input-container:not(.md-input-invalid).md-input-focused .md-input {
				border-color : #fff;	
			}
		</style>
	</body>
</html>
